XLY/SPF-PRO/Trunk/Trunk/Source/11.Service/13.Core/DllService/DllClient/Connected Services/ServiceReference1/X86Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9957/X86Service?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:9957/X86Service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/X86DllServer" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leave">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImageDataCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="stop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImageDataCallBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VivoBackupCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imagedALLSize" type="xs:long" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VivoBackupCallBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerryImageDataCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imagedALLSize" type="xs:long" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerryImageDataCallBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AndroidMirror_OpenDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceSerialnumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AndroidMirror_OpenDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AndroidMirror_OpenDeviceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AndroidMirror_Initialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oIntPtr" type="xs:int" />
        <xs:element minOccurs="0" name="eachReadMaxSize" type="xs:int" />
        <xs:element minOccurs="0" name="htc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AndroidMirror_InitializeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AndroidMirror_InitializeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AndroidMirror_ImageDataZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imgHandle" type="xs:int" />
        <xs:element minOccurs="0" name="pPhysicDataPhonePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:long" />
        <xs:element minOccurs="0" name="count" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AndroidMirror_ImageDataZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AndroidMirror_ImageDataZoneResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VivoBackup_OpenDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceSerialnumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VivoBackup_OpenDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VivoBackup_OpenDeviceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VivoBackup_Initialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imgHandle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VivoBackup_InitializeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VivoBackup_InitializeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VivoBackup_GetAppIDList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imgHandle" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listAppId" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VivoBackup_GetAppIDListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VivoBackup_GetAppIDListResult" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listAppId" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VivoBackup_BackupFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imgHandle" type="xs:int" />
        <xs:element minOccurs="0" name="psavePath" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pbackupappid" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="nums" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VivoBackup_BackupFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VivoBackup_BackupFilesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VivoBackup_Close">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imgHandle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VivoBackup_CloseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VivoBackup_CloseResult" type="xs:int" />
        <xs:element minOccurs="0" name="imgHandle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerry_FindDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerry_FindDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/X86DllServer" minOccurs="0" name="BlackBerry_FindDevicesResult" nillable="true" type="q4:ArrayOfBlackPhoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerry_Mount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pinStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerry_MountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlackBerry_MountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerry_Close">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blackberryHandle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerry_CloseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerry_GetAppDataInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blackberryHadnle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerry_GetAppDataInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/X86DllServer" minOccurs="0" name="BlackBerry_GetAppDataInfoResult" nillable="true" type="q5:ArrayOfBlackPhoneAppContentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerry_ImageAppData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blackberryHadnle" type="xs:int" />
        <xs:element minOccurs="0" name="psavedir" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerry_ImageAppDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlackBerry_ImageAppDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerry_ReleaseBuffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataHandle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlackBerry_ReleaseBufferResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SimCard_scanCom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listComs" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimCard_scanComResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimCard_scanComResult" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listComs" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimCard_readSimPhoneNoAndIMSI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comstr" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listPhoneNo" nillable="true" type="q8:ArrayOfstring" />
        <xs:element minOccurs="0" name="imsi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimCard_readSimPhoneNoAndIMSIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimCard_readSimPhoneNoAndIMSIResult" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listPhoneNo" nillable="true" type="q9:ArrayOfstring" />
        <xs:element minOccurs="0" name="imsi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimCard_readAddressbook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comstr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimCard_readAddressbookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimCard_readAddressbookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimCard_readlastCalled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comstr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimCard_readlastCalledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimCard_readlastCalledResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimCard_readSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comstr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimCard_readSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimCard_readSMSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>